
- content_for :title do
  Whatever 
  \|
  = @course.title
= link_to 'Courses', courses_path
\/
= link_to @course.title, course_path(@course)
%p
.row 
  .col-lg-8.order-1.order-lg-1
    %h3
      .fa.fa-graduation-cap 
      = @course.title
    .p-3 
    .row 
    .fa.fa-clock 
    = @course.updated_at.strftime("%d/%b/%Y")
    .row
    .fa.fa-globe-africa
    = @course.language
    .row
    .fa.fa-signal
    = @course.level
    .p-3
    = @course.description
    %p
    %h4
      .fa.fa-tasks
      = pluralize(@course.lessons_count, 'Lesson')
      /= @course.lessons_count
      .float-end
        .fa.fa-spinner
        = number_to_percentage(@course.progress(current_user), precision: 0)
    %ul.list-group
      - @lessons.each do |lesson|
        = render 'lessons/lesson_preview', lesson: lesson
    %p
    %h5
      .fa.fa-comment
      = pluralize(@enrollments_with_review.count, 'Review')
      /= @enrollments_with_review.count
    - @enrollments_with_review.each do |enrollment|
      = render 'enrollments/enrollment', enrollment: enrollment
      %p

  .col-lg-4.order-0.order-lg-1
    .sticky-top
      = render 'courses/course', course: @course
    %p
    -# - if policy(@course).owner?
    -#   = link_to 'Add Lesson', new_course_lesson_path(@course, @lesson), class: 'btn btn-primary btn-sm btn-block w-100'
    -# %p
